.activator{
    height: 240px;
    background-color: #D0D0D0;
}
.card-content .count{
    background-color: #1691C9;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
    margin: unset;
    font-size: 16px;
}
.card-content p{
    font-size: 18px;
    color: black;
    padding: 10px 0px;
}
.card-content img{
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: #D0D0D0 !important;
}
.card-content span{
    margin-left: 20px;
    margin-top: 5px;

}
.cord-content_person{
    display: flex;
}
.cord-content_person span{
    margin: 6px 0px 0px 10px !important;
}